<!--HEADER-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarColor01">
    <h2 class="text-info">{{ title }}</h2>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ml-4">
        <a routerLink="personnes" class="nav-link">List Personne</a>
      </li>
      <li class="nav-item ml-4">
        <a routerLink="/add"class="nav-link" href="#">Add </a>
      </li>
    </ul>
  </div>
</nav>
<!-------------------------------------------------->
<router-outlet></router-outlet>
<!-------------------------------------------------->