<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let personne of personnes |async" class="table-dark">
                <td>{{ personne.num }}</td>
                <td>{{ personne.nom }}</td>
                <td>{{ personne.prenom }}</td>
                <td><button (click)="deletePersonne(personne.num)" class="btn btn-success ml-4">Supprimer</button>
                    <button (click)="updatePersonne(personne.num)" class="btn btn-danger ml-4">Update</button>
                    <button (click)="personneDetails(personne.num)" class="btn btn-info ml-4">Visualiser</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>