<div class="jumbotron w-50 m-auto">
    <h2 class="p-3">Personne Details</h2>
    <div *ngIf="personne" class='m-auto d-flex justify-content-center'>
        <ul>
            <li>id: {{personne.num}}</li> 
            <li>Nom: {{personne.nom}}</li>
            <li>Prénom: {{personne.prenom}}</li> 
        </ul>
    </div>
    <button (click)="list()" class="btn btn-primary ml-4">Back to Personne List</button>
</div>